.microondas-container {
  height: 60vh;
  width: 70vw;
  max-width: 70vw;
  border: 3px solid #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
}

.espelho {
  height: 100%;
  width: 65%;
  max-width: 65%;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  overflow: hidden; /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
}

.painel {
  height: 100%;
  width: 35%;
  max-width: 35%;
  border-left: 3px solid #fff;
}

.painel-display {
  background: #fff;
  width: 100%;
  height: 20%;
  color: #333;
  font-family: monospace;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 48px;
  border-top-right-radius: 16px;
}

.painel-acoes {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botoes-container {
  margin-top: 10px;
  padding-bottom: 10px;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8px;
}

.botoes > button {
  background: #fff;
  color: #333;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4em 1.2em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-apaga {
  background: gray !important;
  color: #fff !important;
  padding: 0.1em 1em !important;
}

.botao-potencia {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  background: orange !important;
  color: #fff !important;
  padding: 0.1em 1em !important;
}

button.pausa-cancelar {
  background-color: red;
  padding: 12px;
  cursor: pointer;
  margin-right: 5px;
  width: 50%
}

button.iniciar {
  background-color: green;
  padding: 12px;
  cursor: pointer;
  width: 50%
}

.programas-aquecimento {
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}

.programa-botoes {
  display: flex;
  gap: 4px;
  padding: 6px;
}

.programa-botoes > button {
  background: #fff;
  color: #333;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.2em 1em;
}

@media (max-width: 600px) {   
  .microondas-container {
    height: 85vh;
    width: 90vw;
    max-width: 90vw;
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .espelho {
    height: 40%;
    width: 100%;
    max-width: 100%;
    padding: 4px;
    font-size: 8px;
  }

  .painel {
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 0;
    border-left: 0;
  }

  .painel-display {
    height: 15%;
    font-size: 28px;
    border-top-right-radius: 0;
  }

  .painel-acoes {
    height: 85%;
  }

  .botoes > button {
    font-size: 14px;
    padding: 0.4em 1em;
    width: 30%;
  }
}